AddDefaultCharset UTF-8
AddType application/x-httpd-php .xml

# handle requests for specific blog posts or years
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /blog/index.php [L,QSA]
